/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161b22;
  padding: 15px 50px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #58a6ff;
}

.nav-links a {
  margin: 0 15px;
  font-size: 18px;
  cursor: pointer;
}

.nav-links a:hover {
  color: #58a6ff;
  text-decoration: underline;
}

/* Navbar.css */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px; /* Adjust the height for better fit */
  width: auto; /* Maintain aspect ratio */
  margin-right: 10px;
}
